@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{


    <a>
        @Html.ActionLink("Welcome! " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </a>


}

