@{
    ViewBag.Title = "Email Confirmation";
    Layout = null;
}


<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

   

    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/Content/DisplayEmail.css" rel="stylesheet" />

</head>
<body>
    <div style="background-color:#000000;">
        <div style="Margin:0px auto;max-width:400px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:60px 0 0;text-align:center;vertical-align:top;">
                            <div style="background:#444777 url(https://cdn.xsolla.net/files/uploaded/2340/5871febe8b0e762856b7f5d30357d8c6.jpeg) center center/cover repeat;Margin:0px auto;max-width:400px;size:cover;">
                                <div style="line-height:0;font-size:0;">
                                    <table align="center" background="" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:url() top center / auto repeat;size:cover;">
                                        <tbody>
                                            <tr>
                                                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;vertical-align:top;">
                                                    <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                                        <table background="rgba(44,72,98,0.7)" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="background-color:#44477760;vertical-align:top;padding:13px 0;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                                            <tr>
                                                                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                                    <div style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:36px;line-height:42px;text-align:center;color:#E4E7FF;">
                                                                                        Greetings, New User!
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div style="background:#3b5a75;background-color:#3b5a75;Margin:0px auto;max-width:400px;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#444777;background-color:#1C29E3;width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="direction:ltr;font-size:0px;padding:19px 0 30px 0;text-align:center;vertical-align:top;">
                                                <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;line-height: 140%">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                                        <tr>
                                                            <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                <div style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;line-height:140%.8px;text-align:center;color:#E4E7FF;">
                                                                    Please Check your emails to confirm your account.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        @*<tr>
                                                                <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                    <div style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;line-height:140%.8px;text-align:center;color:#E4E7FF;">
                                                                        If you have been directed to this page by mistake.
                                                                        <br>
                                                                        <br>Apologies!
                                                                    </div>
                                                                </td>
                                                            </tr>*@
                                                        <tr>
                                                            <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                <div style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;line-height:140%.8px;text-align:center;color:#E4E7FF;">
                                                                    Once the site administrator sets up your level of access, you will then be able to view relevant pages.
                                                                    <br>
                                                                    <br>Until then!
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" vertical-align="middle" class="btn-link" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                                                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;">
                                                                    <tr>
                                                                        <td align="center" bgcolor="#FF005B" role="presentation" style="border:none;border-radius:1px;cursor:auto;padding:0;" valign="middle">
                                                                            <a href="/Home/Index" style="padding: 16px 30px; border-radius: 1px; display: inline-block; background: #FF005B; color: #fff; font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height: 120%; Margin: 0; text-decoration: none; text-transform: none;"
                                                                               target="_blank">CLICK HERE</a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div style="Margin:0px auto;max-width:400px;">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="direction:ltr;font-size:0px;padding:17px 0;text-align:center;vertical-align:top;">

                                                <div class="mj-column-per-100 outlook-group-fix" style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                                                        <tr>
                                                            <td align="center" style="font-size:0px;padding:10px 10px;word-break:break-word;">
                                                                <div style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:11px;line-height:15px;text-align:center;color:#7f92a4;">
                                                                    © 2019 Xsolla. All rights reserved.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>




<!--THE OLD PAGE VIEW BELOW-->

@*@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<span></span>
<br />
<br />
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Please check for an email in your inbox and junk to confirm your email address.
</p>*@
@*<p class="text-danger">
        For DEMO only: You can click this link to confirm the email: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>*@
