
@{
    ViewBag.Title = "RegisterStepTwo";
}
<span></span><br /><br />
<h2>Registration Instructions</h2>
<p>To complete the registration process look for an email in your inbox that provides further instructions.</p>
