














/*------------------------Login Form-----------------------------------------*/










.btn-facebook {
    background-color: #395694 !important;
    border-color: #395694 !important;
}

.btn-twitter {
    background-color: #1c9ceb !important;
    border-color: #1c9ceb !important;
}

.btn-google-plus {
    background-color: #d64937 !important;
    border-color: #d64937 !important;
}
